<div class='page-content'>
    <div class='container' style='padding-top:10px;padding-bottom:50px'>
        <div class='row'>
            <div class='col-md-12'>
                <div class='pull-right pophelpshow'>
                    <a class='btn btn-sm btn-info showhelp' href='#'>Help</a>
                    <a class='btn btn-sm btn-info hidehelp' href='#'>Hide</a>
                </div>
            </div>
        </div>
        <div class='myaccount'>
            <div class='row'>
                <div class='col-md-12'>
                    <div class="page-header">
                        <h1><small class='hidden-xs'>Welcome to cryptocentric.</small></h1>
                    </div>
                </div>
            </div>
            <div class='row'>
                <div class='col-md-12'>
                    <div class="alert alert-warning alert-dismissable" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        <strong>Security</strong> We strongly advise you turn on 2FA to further protect your account <a href='/my/security'>Enable 2FA</a>
                    </div>
                </div>
            </div>
            <div class='row'>
                <div class='col-md-6 hidden-xs'>
                    <div class="panel">
                        <div class="panel-heading">
                            Funds
                        </div>
                        <div class="panel-body">
                            <p>
                                <h3>$0.00 <small>($0.00 held for order)</small></h3>
                                <br>
                                <a href='/my/deposit' class='btn btn-primary'>Deposit AUD</a> &nbsp;
                                <a href='/my/withdraw' class='btn btn-link'>Withdraw AUD</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class='col-md-6 hidden-xs'>
                    <div class="panel">
                        <div class="panel-heading">
                            Popular Now
                        </div>
                        <div class="panel-body">
                            <p>What people are buying right now</p>
                            <div class='pull-left' style='margin-right:30px;margin-top:10px' align='center'>
                                <a href='/buy/btc'>
<img src='/public/img/coinmd/bitcoin.png?v=73' style='width:100px' />
</a>
                                <br>
                                <a style='margin-top:10px' class='btn btn-default' href='/buy/btc'>Buy BTC</a>
                            </div>
                            <div class='pull-left' style='margin-right:30px;margin-top:10px' align='center'>
                                <a href='/buy/trx'>
<img src='/public/img/coinmd/tron.png?v=73' style='width:100px' />
</a>
                                <br>
                                <a style='margin-top:10px' class='btn btn-default' href='/buy/trx'>Buy TRX</a>
                            </div>
                            <div class='pull-left' style='margin-right:30px;margin-top:10px' align='center'>
                                <a href='/buy/eth'>
<img src='/public/img/coinmd/ethereum.png?v=73' style='width:100px' />
</a>
                                <br>
                                <a style='margin-top:10px' class='btn btn-default' href='/buy/eth'>Buy ETH</a>
                            </div>
                            <div class='pull-left' style='margin-right:30px;margin-top:10px' align='center'>
                                <a href='/buy/ada'>
<img src='/public/img/coinmd/cardano.png?v=73' style='width:100px' />
</a>
                                <br>
                                <a style='margin-top:10px' class='btn btn-default' href='/buy/ada'>Buy ADA</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class='row'>
                <div class='col-md-6 hidden-xs'>
                    <div class="panel">
                        <div class="panel-heading">
                            <br> Wallets
                        </div>
                        <div class="panel-body">
                            <p>Approximate wallet value: <b>$0 AUD</b></p>
                            <div class="table-responsive">
                                <table class='table  table-bordered'>
                                    <tr>
                                        <th>Coin</th>
                                        <th>Balance</th>
                                        <th></th>
                                    </tr>
                                    <tr>
                                        <td><img src='/public/img/coinmd/pivx.png?v=73' style='height:27px' /> PIVX</td>
                                        <td>0</td>
                                        <td>
                                            <a href='/my/wallet/pivx' class='btn btn-default btn-sm'>Open Wallet</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><img src='/public/img/coinmd/bitcoin.png?v=73' style='height:27px' /> Bitcoin</td>
                                        <td>0</td>
                                        <td>
                                            <a href='/my/wallet/btc' class='btn btn-default btn-sm'>Open Wallet</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><img src='/public/img/coinmd/ethereum.png?v=73' style='height:27px' /> Ethereum</td>
                                        <td>0</td>
                                        <td>
                                            <a href='/my/wallet/eth' class='btn btn-default btn-sm'>Open Wallet</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><img src='/public/img/coinmd/ethereum classic.png?v=73' style='height:27px' /> Ethereum Classic</td>
                                        <td>0</td>
                                        <td>
                                            <a href='/my/wallet/etc' class='btn btn-default btn-sm'>Open Wallet</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><img src='/public/img/coinmd/havven.png?v=73' style='height:27px' /> Havven</td>
                                        <td>0</td>
                                        <td>
                                            <a href='/my/wallet/hav' class='btn btn-default btn-sm'>Open Wallet</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><img src='/public/img/coinmd/populous.png?v=73' style='height:27px' /> Populous</td>
                                        <td>0</td>
                                        <td>
                                            <a href='/my/wallet/ppt' class='btn btn-default btn-sm'>Open Wallet</a>
                                        </td>
                                    </tr>
                                </table>
                                <p>
                                    <a class='btn btn-default' href='/my/wallets'>See all Wallets</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class='col-md-6 hidden-xs'>
                    <div class="panel">
                        <div class="panel-heading">
                            <br> Recent Movers
                        </div>
                        <div class="panel-body">
                            <p>The biggest movers in the last hour</p>
                            <div class="table-responsive">
                                <table class='table table-bordered'>
                                    <tr>
                                        <td><b>Coin</b></td>
                                        <td><b>Rate</b></td>
                                        <td><b>Last hour</b></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td><img src='/public/img/coinmd/dragonchain.png?v=73' style='height:27px' />&nbsp; DRGN</td>
                                        <td>$0.866722</td>
                                        <td><span class="moveup">2.09%</span></td>
                                        <td><a href='/buy/drgn' class='btn btn-default btn-sm' style='width:150px'>Buy DRGN</a></td>
                                    </tr>
                                    <tr>
                                        <td><img src='/public/img/coinmd/poet.png?v=73' style='height:27px' />&nbsp; POE</td>
                                        <td>$0.036567</td>
                                        <td><span class="moveup">0.74%</span></td>
                                        <td><a href='/buy/poe' class='btn btn-default btn-sm' style='width:150px'>Buy POE</a></td>
                                    </tr>
                                    <tr>
                                        <td><img src='/public/img/coinmd/singularitynet.png?v=73' style='height:27px' />&nbsp; AGI</td>
                                        <td>$0.16041108</td>
                                        <td><span class="moveup">0.05%</span></td>
                                        <td><a href='/buy/agi' class='btn btn-default btn-sm' style='width:150px'>Buy AGI</a></td>
                                    </tr>
                                    <tr>
                                        <td><img src='/public/img/coinmd/byteball bytes.png?v=73' style='height:27px' />&nbsp; GBYTE</td>
                                        <td>$210.445656</td>
                                        <td><span class="moveup">0.02%</span></td>
                                        <td><a href='/buy/gbyte' class='btn btn-default btn-sm' style='width:150px'>Buy GBYTE</a></td>
                                    </tr>
                                    <tr>
                                        <td><img src='/public/img/coinmd/rise.png?v=73' style='height:27px' />&nbsp; RISE</td>
                                        <td>$0.337224</td>
                                        <td><span class="moveup">0.00%</span></td>
                                        <td><a href='/buy/rise' class='btn btn-default btn-sm' style='width:150px'>Buy RISE</a></td>
                                    </tr>
                                    <tr>
                                        <td><img src='/public/img/coinmd/safe exchange coin.png?v=73' style='height:27px' />&nbsp; SAFEX</td>
                                        <td>$0.015763</td>
                                        <td><span class="moveup">0.00%</span></td>
                                        <td><a href='/buy/safex' class='btn btn-default btn-sm' style='width:150px'>Buy SAFEX</a></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class='row'>
                <div class='col-md-12 hidden-xs' style='margin-top:20px;margin-bottom:80px'>
                    <div class="panel">
                        <div class="panel-heading">
                            Popular Today
                        </div>
                        <div class="panel-body">
                            <p>
                                The most popular coins purchased today delivered instantly to your wallet.
                            </p>
                            <br><br>
                            <div class='row'>
                                <div class='col-sm-3' align='center' style='margin-bottom:40px'>
                                    <a href='/buy/btc'><img src='/public/img/coinmd/bitcoin.png?v=73' /></a>
                                    <br>
                                    <a style='margin-top:10px' class='btn btn-default' href='/buy/btc'>Buy Bitcoin</a>
                                </div>
                                <div class='col-sm-3' align='center' style='margin-bottom:40px'>
                                    <a href='/buy/eth'><img src='/public/img/coinmd/ethereum.png?v=73' /></a>
                                    <br>
                                    <a style='margin-top:10px' class='btn btn-default' href='/buy/eth'>Buy Ethereum</a>
                                </div>
                                <div class='col-sm-3' align='center' style='margin-bottom:40px'>
                                    <a href='/buy/trx'><img src='/public/img/coinmd/tron.png?v=73' /></a>
                                    <br>
                                    <a style='margin-top:10px' class='btn btn-default' href='/buy/trx'>Buy TRON</a>
                                </div>
                                <div class='col-sm-3' align='center' style='margin-bottom:40px'>
                                    <a href='/buy/xrp'><img src='/public/img/coinmd/ripple.png?v=73' /></a>
                                    <br>
                                    <a style='margin-top:10px' class='btn btn-default' href='/buy/xrp'>Buy Ripple</a>
                                </div>
                                <div class='col-sm-3' align='center' style='margin-bottom:40px'>
                                    <a href='/buy/ltc'><img src='/public/img/coinmd/litecoin.png?v=73' /></a>
                                    <br>
                                    <a style='margin-top:10px' class='btn btn-default' href='/buy/ltc'>Buy Litecoin</a>
                                </div>
                                <div class='col-sm-3' align='center' style='margin-bottom:40px'>
                                    <a href='/buy/ans'><img src='/public/img/coinmd/neo (antshares).png?v=73' /></a>
                                    <br>
                                    <a style='margin-top:10px' class='btn btn-default' href='/buy/ans'>Buy Neo</a>
                                </div>
                                <div class='col-sm-3' align='center' style='margin-bottom:40px'>
                                    <a href='/buy/ada'><img src='/public/img/coinmd/cardano.png?v=73' /></a>
                                    <br>
                                    <a style='margin-top:10px' class='btn btn-default' href='/buy/ada'>Buy Cardano</a>
                                </div>
                                <div class='col-sm-3' align='center' style='margin-bottom:40px'>
                                    <a href='/buy/icx'><img src='/public/img/coinmd/icon.png?v=73' /></a>
                                    <br>
                                    <a style='margin-top:10px' class='btn btn-default' href='/buy/icx'>Buy ICON</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class='col-md-12 hidden-xs' style='margin-top:20px;margin-bottom:80px'>
                    <div class="panel">
                        <div class="panel-heading">
                            New Coins
                        </div>
                        <div class="panel-body">
                            <br>
                            <div class='col-sm-3' align='center'>
                                <a href='/buy/hav'><img src='/public/img/coinmd/havven.png?v=73' /></a>
                                <br>
                                <a style='margin-top:10px' class='btn btn-default' href='/buy/hav'>Buy Havven</a>
                            </div>
                            <div class='col-sm-3' align='center'>
                                <a href='/buy/etn'><img src='/public/img/coinmd/electroneum.png?v=73' /></a>
                                <br>
                                <a style='margin-top:10px' class='btn btn-default' href='/buy/etn'>Buy Electroneum</a>
                            </div>
                            <div class='col-sm-3' align='center'>
                                <a href='/buy/agi'><img src='/public/img/coinmd/singularitynet.png?v=73' /></a>
                                <br>
                                <a style='margin-top:10px' class='btn btn-default' href='/buy/agi'>Buy SingularityNET</a>
                            </div>
                            <div class='col-sm-3' align='center'>
                                <a href='/buy/enj'><img src='/public/img/coinmd/enjin coin.png?v=73' /></a>
                                <br>
                                <a style='margin-top:10px' class='btn btn-default' href='/buy/enj'>Buy Enjin Coin</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class='row'>
                <div class='col-md-12 hidden-xs' style='margin-top:50px'>
                    <div class="panel">
                        <div class="panel-heading">
                            Todays Movers
                        </div>
                        <div class="panel-body">
                            <div class='row'>
                                <div class='col-md-6 hidden-xs'>
                                    <table class='table table-bordered'>
                                        <tr>
                                            <td><b>Coin</b></td>
                                            <td><b>Buy Rate</b></td>
                                            <td><b>Change (24hrs)</b></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td><img src='/public/img/coinmd/dragonchain.png?v=73' style='height:27px' />&nbsp; DRGN</td>
                                            <td>$0.866722</td>
                                            <td><span class="moveup">4.02%</span></td>
                                            <td><a href='/buy/drgn' class='btn btn-default btn-sm' style='width:150px'>Buy Dragonchain</a></td>
                                        </tr>
                                        <tr>
                                            <td><img src='/public/img/coinmd/eos.png?v=73' style='height:27px' />&nbsp; EOS</td>
                                            <td>$7.97</td>
                                            <td><span class="moveup">1.97%</span></td>
                                            <td><a href='/buy/eos' class='btn btn-default btn-sm' style='width:150px'>Buy EOS</a></td>
                                        </tr>
                                        <tr>
                                            <td><img src='/public/img/coinmd/dash.png?v=73' style='height:27px' />&nbsp; DASH</td>
                                            <td>$437.76</td>
                                            <td><span class="moveup">1.17%</span></td>
                                            <td><a href='/buy/dash' class='btn btn-default btn-sm' style='width:150px'>Buy Dash</a></td>
                                        </tr>
                                        <tr>
                                            <td><img src='/public/img/coinmd/enigma.png?v=73' style='height:27px' />&nbsp; ENG</td>
                                            <td>$2.018444</td>
                                            <td><span class="moveup">0.66%</span></td>
                                            <td><a href='/buy/eng' class='btn btn-default btn-sm' style='width:150px'>Buy Enigma</a></td>
                                        </tr>
                                        <tr>
                                            <td><img src='/public/img/coinmd/litecoin.png?v=73' style='height:27px' />&nbsp; LTC</td>
                                            <td>$156.36</td>
                                            <td><span class="moveup">0.23%</span></td>
                                            <td><a href='/buy/ltc' class='btn btn-default btn-sm' style='width:150px'>Buy Litecoin</a></td>
                                        </tr>
                                    </table>
                                </div>
                                <div class='col-md-6 hidden-xs'>
                                    <table class='table table-bordered'>
                                        <tr>
                                            <td><b>Coin</b></td>
                                            <td><b>Buy Rate</b></td>
                                            <td><b>Change (24hrs)</b></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td><img src='/public/img/coinmd/raiden network.png?v=73' style='height:27px' />&nbsp; RDN</td>
                                            <td>$1.861010</td>
                                            <td><span class="movedown">-17.09%</span></td>
                                            <td><a href='/buy/rdn' class='btn btn-default btn-sm' style='width:150px'>Buy Raiden Network</a></td>
                                        </tr>
                                        <tr>
                                            <td><img src='/public/img/coinmd/pivx.png?v=73' style='height:27px' />&nbsp; PIVX</td>
                                            <td>$4.616471</td>
                                            <td><span class="movedown">-15.48%</span></td>
                                            <td><a href='/buy/pivx' class='btn btn-default btn-sm' style='width:150px'>Buy PIVX</a></td>
                                        </tr>
                                        <tr>
                                            <td><img src='/public/img/coinmd/canyacoin.png?v=73' style='height:27px' />&nbsp; CAN</td>
                                            <td>$0.3323599</td>
                                            <td><span class="movedown">-15.43%</span></td>
                                            <td><a href='/buy/can' class='btn btn-default btn-sm' style='width:150px'>Buy CanYaCoin</a></td>
                                        </tr>
                                        <tr>
                                            <td><img src='/public/img/coinmd/horizon state.png?v=73' style='height:27px' />&nbsp; HST</td>
                                            <td>$0.690773</td>
                                            <td><span class="movedown">-14.60%</span></td>
                                            <td><a href='/buy/hst' class='btn btn-default btn-sm' style='width:150px'>Buy Horizon State</a></td>
                                        </tr>
                                        <tr>
                                            <td><img src='/public/img/coinmd/bitquence.png?v=73' style='height:27px' />&nbsp; ETHOS</td>
                                            <td>$2.800867</td>
                                            <td><span class="movedown">-13.3%</span></td>
                                            <td><a href='/buy/bqx' class='btn btn-default btn-sm' style='width:150px'>Buy Ethos</a></td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class='row' style='margin-left: -10px;margin-right: -10px;'>
                <div class='col-xs-12 visible-xs'>
                    <div class="panel">
                        <div class="panel-heading">
                            Total Account Value
                        </div>
                        <div class="panel-body">
                            <p>
                                Approximate market value of account.
                            </p>
                            <p>
                                <h2>$0.00 AUD</h2>
                            </p>
                        </div>
                    </div>
                    <div class="panel">
                        <div class="panel-heading">
                            Popular Now
                        </div>
                        <div class="panel-body">
                            <p>People are buying right now</p>
                            <div class='row'>
                                <div class='col-xs-4' style='margin-bottom:30px' align='center'>
                                    <a href='/buy/btc'>
<img src='/public/img/coinmd/bitcoin.png?v=73' style='height:50px'>
</a>
                                    <br>
                                    <a style='margin-top:10px' class='btn btn-sm btn-default' href='/buy/btc'>Buy BTC</a>
                                </div>
                                <div class='col-xs-4' style='margin-bottom:30px' align='center'>
                                    <a href='/buy/trx'>
<img src='/public/img/coinmd/tron.png?v=73' style='height:50px'>
</a>
                                    <br>
                                    <a style='margin-top:10px' class='btn btn-sm btn-default' href='/buy/trx'>Buy TRX</a>
                                </div>
                                <div class='col-xs-4' style='margin-bottom:30px' align='center'>
                                    <a href='/buy/eth'>
<img src='/public/img/coinmd/ethereum.png?v=73' style='height:50px'>
</a>
                                    <br>
                                    <a style='margin-top:10px' class='btn btn-sm btn-default' href='/buy/eth'>Buy ETH</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel">
                        <div class="panel-heading">
                            Recent Movers
                        </div>
                        <div class="panel-body">
                            <p>The biggest movers in the last hour</p>
                            <div class='row'>
                                <div class='col-xs-4' style='margin-bottom:30px' align='center'>
                                    <a href='/buy/drgn'>
<img src='/public/img/coinmd/dragonchain.png?v=73' style='height:50px'>
</a>
                                    <br>
                                    <span class="moveup">2.09%</span>
                                    <br>
                                    <a style='margin-top:10px' class='btn btn-sm btn-default' href='/buy/drgn'>Buy DRGN</a>
                                </div>
                                <div class='col-xs-4' style='margin-bottom:30px' align='center'>
                                    <a href='/buy/poe'>
<img src='/public/img/coinmd/poet.png?v=73' style='height:50px'>
</a>
                                    <br>
                                    <span class="moveup">0.74%</span>
                                    <br>
                                    <a style='margin-top:10px' class='btn btn-sm btn-default' href='/buy/poe'>Buy POE</a>
                                </div>
                                <div class='col-xs-4' style='margin-bottom:30px' align='center'>
                                    <a href='/buy/agi'>
<img src='/public/img/coinmd/singularitynet.png?v=73' style='height:50px'>
</a>
                                    <br>
                                    <span class="moveup">0.05%</span>
                                    <br>
                                    <a style='margin-top:10px' class='btn btn-sm btn-default' href='/buy/agi'>Buy AGI</a>
                                </div>
                                <div class='col-xs-4' style='margin-bottom:30px' align='center'>
                                    <a href='/buy/gbyte'>
<img src='/public/img/coinmd/byteball bytes.png?v=73' style='height:50px'>
</a>
                                    <br>
                                    <span class="moveup">0.02%</span>
                                    <br>
                                    <a style='margin-top:10px' class='btn btn-sm btn-default' href='/buy/gbyte'>Buy GBYTE</a>
                                </div>
                                <div class='col-xs-4' style='margin-bottom:30px' align='center'>
                                    <a href='/buy/rise'>
<img src='/public/img/coinmd/rise.png?v=73' style='height:50px'>
</a>
                                    <br>
                                    <span class="moveup">0.00%</span>
                                    <br>
                                    <a style='margin-top:10px' class='btn btn-sm btn-default' href='/buy/rise'>Buy RISE</a>
                                </div>
                                <div class='col-xs-4' style='margin-bottom:30px' align='center'>
                                    <a href='/buy/safex'>
<img src='/public/img/coinmd/safe exchange coin.png?v=73' style='height:50px'>
</a>
                                    <br>
                                    <span class="moveup">0.00%</span>
                                    <br>
                                    <a style='margin-top:10px' class='btn btn-sm btn-default' href='/buy/safex'>Buy SAFEX</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel">
                        <div class="panel-heading">
                            Secure Wallets
                        </div>
                        <div class="panel-body">
                            <p>
                                Send and receive coins from anywhere!
                            </p>
                            <p>
                                <a class='btn btn-default' href='/my/wallets'>See all Wallets</a>
                            </p>
                        </div>
                    </div>
                    <div class="panel">
                        <div class="panel-heading">
                            Buy Coins
                        </div>
                        <div class="panel-body">
                            <p>
                                Buy Bitcoin, Ethereum, Litecoin and more.
                            </p>
                            <p>
                                <a class='btn btn-default' href='/tradecoins'>See all Coins</a>
                            </p>
                        </div>
                    </div>
                    <div class="panel">
                        <div class="panel-heading">
                            Sell Coins
                        </div>
                        <div class="panel-body">
                            <p>
                                Sell Bitcoin, Ethereum, Litecoin and more.
                            </p>
                            <p>
                                <a class='btn btn-default' href='/sellallcoins'>See all Coins</a>
                            </p>
                        </div>
                    </div>
                    <div class="panel">
                        <div class="panel-heading">
                            Deposit / Withdraw Funds
                        </div>
                        <div class="panel-body">
                            <p>
                                <h3 style='padding-bottom:0px;margin-bottom:5px'>$0.00</h3>
                                <div style='padding-bottom:10px'>($0.00 available)</div>
                                <a href='/my/deposit' class='btn btn-primary'>Deposit AUD</a> &nbsp;
                                <a href='/my/withdraw' class='btn btn-default'>Withdraw AUD</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <style>
            .movedown {
                color: red;
            }

            .moveup {
                color: green;
            }

            .page-content {
                background: #fff;
                padding: 0px;
            }

            .changedetails {
                display: none
            }

            #securitywarning td,
            input {
                cursor: pointer
            }

        </style>
    </div>
</div>
