<div class='page-content'>
    <div class='container' style='padding-top:10px;padding-bottom:50px'>
        <div class='row'>
            <div class='col-md-12'>
                <div class='pull-right pophelpshow'>
                    <a class='btn btn-sm btn-info showhelp' href='#'>Help</a>
                    <a class='btn btn-sm btn-info hidehelp' href='#'>Hide</a>
                </div>
            </div>
        </div>
        <div id="login" class='container'>
            <div class="page-header">
                <h1>Reset your password</h1>
            </div>
            <div class='row createaccountrow'>
                <div class='col-md-12'>
                    <div class="alert alert-success alert-dismissable s">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        <strong>Password reset email has been sent, please check your email</strong>
                    </div>
                    <div class="alert alert-danger alert-dismissable c">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        <strong>Invalid Captcha</strong>
                    </div>
                    <div class="alert alert-danger alert-dismissable e">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        <strong>An invalid email address was entered</strong>
                    </div>
                </div>
            </div>
            <div class='row'>
                <div class='col-md-6'>
                    <div class="panel">
                        <div class="panel-body">
                            <form role="form" action='/sendreset' method='POST'>
                                <input type='hidden' name='_csrf' value='XYCVp745-fJXPrj4JpAbX14mpsAGnGoWVTro' />
                                <div class="form-group">
                                    <label>Email</label>
                                    <input type="text" class="form-control" name='login'>
                                </div>
                                <script src='https://www.google.com/recaptcha/api.js'></script>
                                <div class="g-recaptcha" data-sitekey="6LfSnCMUAAAAAKQuSdBZFzXYmTKQ7EOCu0tcIQB6"></div>
                                <br>
                                <button type="submit" class="btn btn-primary">Email Password Reset</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <form id="QuoteForm" class="QuoteForm">
            <fieldset>
                <h3 class="section-title">Step 1 of 5</h3>
                <div class="form-layer-steps form-layer-tolal-steps-5">
                    <div class="form-layer-progress">
                        <div class="form-layer-progress-line" style="width: 0%;"></div>
                    </div>
                    <!-- Step 1 -->
                    <div class="form-layer-step active">
                        <div class="form-layer-step-icon activestep"><i class="fa fa-home"></i></div>
                        <p>Property Info</p>
                    </div>
                    <!-- Step 1 -->

                    <!-- Step 2 -->
                    <div class="form-layer-step">
                        <div class="form-layer-step-icon"><i class="fa fa-paint-brush"></i></div>
                        <p>Required Cleaning</p>
                    </div>
                    <!-- Step 2 -->

                    <!-- Step 3 -->
                    <div class="form-layer-step">
                        <div class="form-layer-step-icon"><i class="fa fa-clock-o"></i></div>
                        <p>Schedule</p>
                    </div>
                    <!-- Step 3 -->

                    <!-- Step 4 -->
                    <div class="form-layer-step">
                        <div class="form-layer-step-icon"><i class="fa fa-address-card"></i></div>
                        <p>Booking Info</p>
                    </div>
                    <!-- Step 4 -->

                    <!-- Step 5 -->
                    <div class="form-layer-step">
                        <div class="form-layer-step-icon"><i class="fa fa-check"></i></div>
                        <p>Confirm</p>
                    </div>
                    <!-- Step 5 -->
                </div>
            </fieldset>
        </form>
        <style>
            .QuoteForm-section h3.section-title {
                background-color: rgba(62, 62, 62, 0.9);
                border: 1px solid rgba(62, 62, 62, 0.9);
                border-radius: 10px;
                color: #fff;
                font-weight: bold;
                padding: 10px;
                margin: 50px 0;
                text-align: center;
            }

            #QuoteForm .form-layer-steps {
                margin: 0 0 50px;
                overflow: hidden;
                position: relative;
            }

            #QuoteForm .form-layer-progress {
                background-color: #b5b5b5;
                height: 1px;
                left: 0;
                position: absolute;
                top: 26px;
                width: 100%;
            }

            #QuoteForm .form-layer-progress-line {
                background-color: #0379ca;
                height: 1px;
                left: 0;
                position: absolute;
                top: 0;
            }

            #QuoteForm .form-layer-tolal-steps-5 .form-layer-step {
                float: left;
                padding: 0;
                position: relative;
                text-align: center;
                width: 20%;
            }

            #QuoteForm .form-layer-step-icon {
                background-color: #b5b5b5;
                border-radius: 50% !important;
                color: #fff;
                display: inline-block;
                font-size: 16px;
                height: 40px;
                line-height: 40px;
                margin-top: 4px;
                width: 40px;
                text-align: center;
            }

            #QuoteForm .form-layer-step.active .form-layer-step-icon {
                background-color: #0379ca;
                font-size: 22px;
                height: 48px;
                line-height: 48px;
                margin-top: 0;
                width: 48px;
            }










            .page-content {
                background: #fff;
                padding: 0px;
            }

            .alert {
                display: none;
            }

        </style>
    </div>
</div>
