<div class="row home-main-tagline">
    <div class="col-md-3 col-md-offset-2 visible-md visible-lg">
        <img src="img/cryptocentric-v-sml.png" style="height: 240px">
    </div>
    <div class="col-md-5 visible-md visible-lg" style="padding-left: 30px">
        <h1>cryptocentric.</h1>
        <h2>Buy Bitcoin, Ethereum and more with Instant Delivery and easy verification.</h2>
    </div>
    <div class="col-md-12 visible-xs" align="center">
        <h2 style='margin-left:10px;margin-right:10px'>Buy Bitcoin, Ethereum and more.</h2>
    </div>
    <div class="col-md-12 visible-sm" align="center">
        <img src="img/cryptocentric-v-sml.png" style="height: 120px">
        <h2 style="padding-top:20px">Buy Bitcoin, Ethereum and more with Instant Delivery and easy verification</h2>
    </div>
</div>
<div class='prices'>
    <div class='container'>
        <div class='row'>
            <div class='col-sm-3 col-xs-6 text-center' style='cursor:pointer' onclick='location.href="/buy-btc.html"'>
                <img src='img/bitcoin.png' />
                <h2>BTC</h2>
            </div>
            <div class='col-sm-3 col-xs-6 text-center' style='cursor:pointer' onclick='location.href="/buy/dash"'>
                <img src='img/dash.png' />
                <h2>DASH</h2>
            </div>
            <div class='col-sm-3 col-xs-6 text-center' style='cursor:pointer' onclick='location.href="/buy/eth"'>
                <img src='img/ethereum.png' />
                <h2>ETH</h2>
            </div>
            <div class='col-sm-3 col-xs-6 text-center' style='cursor:pointer' onclick='location.href="/buy/ltc"'>
                <img src='img/litecoin.png' />
                <h2>LTC</h2>
            </div>
            <div class='col-md-12 text-center'>
                <a ng-href='#!tradecoins' class='btn btn-default'>View All Coins</a>
            </div>
        </div>
    </div>
</div>
<div class='anywhere'>
    <div class='container'>
        <div class='row'>
            <div class='col-md-12 text-center'>
                <h2>Buy anywhere, on any device, anytime.</h2>
                <div class="row">
                    <div class="col-md-12 text-center">
                        <ul class="anywheredevices">
                            <li class="" data-t='desktop'><span class="phone">Phone</span></li>
                            <li class="" data-t='desktop'><span class="tablet">Tablet</span></li>
                            <li class="current" data-t='desktop'><span class="desktop">Desktop</span></li>
                        </ul>
                    </div>
                    <div class="col-md-12 devices">
                        <div class='device phone'>
                            <img src='img/iphone.png' />
                        </div>
                        <div class='device tablet'>
                            <img src='img/ipad.png' style='width:100%;max-width:460px' />
                        </div>
                        <div class='device desktop'>
                            <img src='img/macbook.png' style='width:100%;max-width:920px' />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class='sellingpoints' style='margin-left:20px;margin-right:20px'>
    <div class='container' style='width:100%;'>
        <div class='row' style='width:100%'>
            <div class='col-md-4 text-center'>
                <img src='img/security.png' />
                <h2>Security</h2>
                <p>cryptocentric operates in a stable regulatory environment with bank level security.</p>
            </div>
            <div class='col-md-4 text-center'>
                <img src='img/aud.png' />
                <h2>AUD Trading</h2>
                <p>Remove the risk associated with foreign exchanges and buy directly with AUD</p>
            </div>
            <div class='col-md-4 text-center'>
                <img src='img/wallet.png' />
                <h2>Multicoin Wallet</h2>
                <p>cryptocentric multicoin wallets have no monthly cost and low transaction fees.</p>
            </div>
        </div>
    </div>
</div>
<div class='start-trading'>
    <div class='container'>
        <div class='row'>
            <div class='col-md-12 text-center'>
                <a class='btn btn-lg btn-primary' ng-href='#!register'>Start Trading Today &raquo;</a>
            </div>
        </div>
    </div>
</div>
