<div class='page-content'>
    <div class='container' style='padding-top:10px;padding-bottom:50px'>
        <div class='row'>
            <div class='col-md-12'>
                <div class='pull-right pophelpshow'>
                    <a class='btn btn-sm btn-info showhelp' href='#'>Help</a>
                    <a class='btn btn-sm btn-info hidehelp' href='#'>Hide</a>
                </div>
            </div>
        </div>
        <div id="login" class='container'>
            <div class="page-header">
                <h1>Login<br> <small> To your secure cryptocentric account.</small></h1>
            </div>
            <div class='row createaccountrow'>
                <div class='col-md-6'>
                    <div class="panel">
                        <div class="panel-body">
                            <form class='loginform' role="form">
                                <div class="form-group">
                                    <label>Email</label>
                                    <input type='text' class="form-control login" ng-model="email" autocomplete='on'>
                                </div>
                                <div class="form-group">
                                    <label>Password</label>
                                    <input type="password" class="form-control" ng-model="password" autocomplete="off">
                                </div>

                                <!--
                                <script src='https://www.google.com/recaptcha/api.js'></script>
                                <div class="g-recaptcha" data-sitekey="6Lew1FAUAAAAAPz0ioB87uPS6ELi86kxQbU_JdFb"></div>
-->
                                <div class="checkbox">
                                    <label>
                                        <input class='remember' type="checkbox"> Remember my email
                                    </label>
                                </div>
                                <button type="submit" class="btn btn-primary" ng-click="login()">Login</button>
                                <br><br>
                                <a style='padding-top:15px' href='#!forgotpassword'>Forgot your password?</a> Don't have an account? <a href='#!register'>Register</a>
                            </form>
                        </div>
                    </div>
                </div>
                <div class='col-md-4 col-md-offset-2'>
                    <div class="panel">
                        <div class="panel-heading">
                            Security News
                        </div>
                        <div class="panel-body">
                            <b>Verification required for AUD Withdrawals</b>
                            <br> Please note that we now require your account to be fully verified to be able to withdraw AUD to Australian bank accounts.
                            <br>
                            <hr>
                            <b>Never create an account on behalf of someone else</b>
                            <br> If you have been asked to login or create an account to purchase something on Gumtree, Ebay etc. it is highly likely to be a scam and you should contact our support team immediately.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <style>
            .page-content {
                background: #fff;
                padding: 0px;
            }

        </style>
    </div>
</div>
