<div class='page-content'>
    <div class='container' style='padding-top:10px;padding-bottom:50px'>
        <div class='row'>
            <div class='col-md-12'>
                <div class='pull-right pophelpshow'>
                    <a class='btn btn-sm btn-info showhelp' href='#'>Help</a>
                    <a class='btn btn-sm btn-info hidehelp' href='#'>Hide</a>
                </div>
            </div>
        </div>
        <div class='walletimage'></div>
        <div class='container'>
            <div class='row'>
                <div class="col-md-12">
                    <div class="page-header wallettitle">
                        <h1>cryptocentric Multicoin Wallets</h1>
                        <h2>Save, Spend or Trade with low fees using Bitcoin, Litecoin &amp; Dogecoin</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class='walletanywhere'>
            <div class='container'>
                <div class='row'>
                    <div class='col-sm-12 text-center'>
                        <h2>Benefits</h2>
                        <div class="row" style='margin-top:50px'>
                            <div class='col-sm-6'>
                                <img src='img/sendbitcoin.png' />
                                <h3>Low fees</h3>
                                Send coins with low fees!
                            </div>
                            <div class='col-sm-6'>
                                <img src='img/addressbitcoin.png' />
                                <h3>Mobile Wallet</h3>
                                shop locally directly from your mobile phone.
                            </div>
                        </div>
                        <div class="row" style='margin-top:100px'>
                            <div class='col-sm-6'>
                                <img src='img/shopbitcoin.png' />
                                <h3>Shop online</h3>
                                spend coins safely online and locally.
                            </div>
                            <div class='col-sm-6'>
                                <img src='img/safebitcoin.png' />
                                <h3>Securely save your coins</h3>
                                keep all your coins saved safely.
                            </div>
                        </div>
                        <div class="row" style='margin-top:100px'>
                            <div class='col-sm-6'>
                                <img src='img/tradebitcoin.png' />
                                <h3>Easy to trade</h3>
                                trade straight from your cryptocentric wallets.
                            </div>
                            <div class='col-sm-6'>
                                <img src='img/keeptrackbitcoin.png' />
                                <h3>Track your spends</h3>
                                manage and keep track of all your transactions.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class='mobilewallet'>
            <h1>Runs on mobile too</h1>
            <h2 class='mobilewalletmsg'>
                Access any of your wallets from your phone so you can spend coins anytime, anywhere.
            </h2>
            <a class='btn btn-lg btn-primary' href='/register.html'>Register Today &raquo;</a>
        </div>
        <div style='height:350px'></div>
    </div>
</div>
