<div class='page-content'>
    <div class='container' style='padding-top:10px;padding-bottom:50px'>
        <div class='row'>
            <div class='col-md-12'>
                <div class='pull-right pophelpshow'>
                    <a class='btn btn-sm btn-info showhelp' href='#'>Help</a>
                    <a class='btn btn-sm btn-info hidehelp' href='#'>Hide</a>
                </div>
            </div>
        </div>
        <div class='myaccount container'>
            <div class='row'>
                <div class='col-md-12' style='margin-bottom:50px'>
                    <div class="page-header">
                        <h1>My Account</h1>
                    </div>
                </div>
                <div class='col-sm-4 col-md-3 col-xs-6'>
                    <a href='/my/orders/history' href="#">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <h3>Order History</h3>
                                <img src='img/orderhistory.png' style='margin-top:30px' />
                            </div>
                        </div>
                    </a>
                </div>
                <div class='col-sm-4 col-md-3 col-xs-6'>
                    <a href='/my/settings/verification'>
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <h3>Verification</h3>
                                <img src='img/verification.png' style='margin-top:30px' />
                            </div>
                        </div>
                    </a>
                </div>
                <div class='col-sm-4 col-md-3 col-xs-6'>
                    <a href="/my/security">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <h3>Security</h3>
                                <img src='img/security.png' style='margin-top:30px' />
                            </div>
                        </div>
                    </a>
                </div>
                <div class='col-sm-4 col-md-3 col-xs-6'>
                    <a href="/my/bank">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <h3>Bank Details</h3>
                                <img src='img/bank.png' style='margin-top:30px' />
                            </div>
                        </div>
                    </a>
                </div>

            </div>
        </div>
        <style>
            .panel {
                height: 200px;
                border: 1px solid #ddd;
                text-align: center;
            }

            .panel img {
                height: 75px;
            }

            @media screen and (max-width: 1024px) {
                .panel {
                    height: 200px
                }

                .panel img {
                    height: 75px;
                }
            }

            @media screen and (max-width: 768px) {
                .panel {
                    height: 170px
                }

                .panel img {
                    height: 50px;
                }
            }

        </style>
    </div>
</div>
