<div class='page-content'>
    <div class='container' style='padding-top:10px;padding-bottom:50px'>
        <div class='row'>
            <div class='col-md-12'>
                <div class='pull-right pophelpshow'>
                    <a class='btn btn-sm btn-info showhelp' href='#'>Help</a>
                    <a class='btn btn-sm btn-info hidehelp' href='#'>Hide</a>
                </div>
            </div>
        </div>
        <div class='myaccount'>
            <div class='row'>
                <div class='col-md-12'>
                    <div class="page-header">
                        <h1>Buy/Sell Coins</h1>
                    </div>
                </div>
                <div class='col-md-12' style='margin:40px 0px'>
                    <div class='panel'>
                        <div class='panel-body'>
                            <div class='col-xs-4' align='center'>
                                <h3>Simple</h3>
                                <img src='img/tradeaud.png' style='max-width:90%' />
                                <br>
                                <span class='hidden-xs'>Trade direct for AUD.</span>
                            </div>
                            <div class='col-xs-4' align='center'>
                                <h3>Safe</h3>
                                <img src='img/freebtc.png' style='max-width:90%' />
                                <br>
                                <span class='hidden-xs'>All Coins and funds kept in escrow.</span>
                            </div>
                            <div class='col-xs-4' align='center'>
                                <h3>Fast</h3>
                                <img src='img/lowcostbtc.png' style='max-width:90%' />
                                <br>
                                <span class='hidden-xs'>Immediate AUD deposits.</span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <style>
            .page-content {
                background: #f3f3f3;
                padding: 0px;
            }

        </style>
    </div>
</div>
